*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
@import "./componentes/componentes";
@import "./componentes/cores";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
// 'Barlow Semi Condensed', sans-serif; 500 600